.contextmenu-base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483646;
}

.contextmenu-menu {
    background: #eee;
    border-radius: 2px;
    position: fixed;
    z-index: 2147483647;
}

.contextmenu-menu div {
    color: #333;
    margin: 5px 0;
    padding: 5px 10px;
    padding-right: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    cursor: pointer;
}

.contextmenu-menu div:hover {
    background: #aaa;
}